<h1>Pipes personalizados</h1>
<hr>
<div class="container">
  <div class="row align-items-start">
    <h2>Números</h2>
    <input type="text" placeholder="Introduzca nº del 1 al 10" [(ngModel)]="number">
    <hr>
    <div class="col">
      <h4>Sin pipe</h4>
      <p>{{number}}</p>
    </div>
    <div class="col">
      <h4>Con pipe por defecto</h4>
      <p>{{number | letras}}</p>
    </div>
    <div class="col">
      <h4>Pipe en inglés</h4>
          <p>{{number | letras:'english'}}</p>
    </div>
    <div class="col">
      <h4>Pipe en portugués</h4>
      <p>{{number | letras:'portuguese'}}</p>
    </div>
  </div>
</div>
<hr>


<div class="container">
  <div class="row align-items-start">
    <h2>Días de la semana</h2>
    <input type="text" placeholder="Introduzca nº del 1 al 7" [(ngModel)]="day">
    <hr>
    <div class="col">
      <h4>Sin pipe</h4>
      <p>{{day}}</p>
    </div>
    <div class="col">
      <h4>Con pipe por defecto</h4>
      <p>{{day | semana}}</p>
    </div>
    <div class="col">
      <h4>Pipe en inglés</h4>
          <p>{{day | semana:'english'}}</p>
    </div>
    <div class="col">
      <h4>Pipe en francés</h4>
      <p>{{day | semana:'french'}}</p>
    </div>
  </div>
</div>



